@charset "utf-8";
/* CSS Document */
html, body {
  	margin: 0 !important;
	padding: 0 !important;
	background: #006533!important;
	overflow-x: hidden;
}
.container-fluid {
	background: #006533 !important;
	padding: 0;
}
.container {
	overflow-x: hidden;
}
.bg-white {
	background: white!important;
}
.bg-success {
	background: #006533 !important;
}
.ui-accordion {
	border: none!important;
}
.ui-accordion-header-active {
	color: white;
	background: #343a40;
	border: none!important;
}


#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}